<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>

]>
<root id="-1">
  <home id="1049" key="6c3f2e1b-20a6-4294-ac9d-81582c233e1d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-20T12:11:36" updateDate="2016-05-27T13:19:40" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="home">
    <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "PropertiesGeneratorDemo",
                    "macroParamsDictionary": {
                      "demo": "{&quot;objects&quot;:{&quot;checkbox&quot;:false,&quot;link&quot;:{&quot;link&quot;:&quot;http://&quot;},&quot;image&quot;:{},&quot;content&quot;:{},&quot;Video&quot;:{&quot;src&quot;:[]},&quot;radio&quot;:&quot;dynamic&quot;,&quot;embed&quot;:{},&quot;integer&quot;:34,&quot;decimal&quot;:342.55,&quot;rte&quot;:&quot;&quot;,&quot;dropdown&quot;:1,&quot;datepicker&quot;:&quot;2016-05-01 00:00:00&quot;},&quot;collections&quot;:{&quot;list&quot;:[{&quot;cssImage&quot;:{},&quot;header&quot;:&quot;&quot;}],&quot;listMinMax&quot;:[{&quot;cssImage&quot;:{},&quot;header&quot;:&quot;&quot;},{&quot;cssImage&quot;:{}}]},&quot;validations&quot;:{&quot;regex&quot;:&quot;e&quot;,&quot;customFunction&quot;:&quot;a&quot;,&quot;required&quot;:&quot;s&quot;,&quot;newDate&quot;:&quot;2016-04-03 00:01:00&quot;,&quot;datepicker&quot;:&quot;2016-05-27 00:00:00&quot;}}"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "6b371908-75e8-bafe-f0b8-14ed13d07953",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></grid>
  </home>
</root>