@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<html>
<head>

</head>
<body>
    @Html.GetGridHtml((IPublishedContent)CurrentPage, "grid")
</body>
</html>